[submodule "src/trezor/trezor-common"]
	path = src/trezor/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "src/ew-node"]
	path = src/ew-node
	url = https://github.com/almindor/ew-node.git
